<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <meta http-equiv="refresh" content="1">
  <style>
    html {
    scrollbar-width: thin;
        scrollbar-color: rgba(155, 155, 155, 0.5) transparent; 
    }
    ::-webkit-scrollbar {
        width: 9px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 20px;
        border: transparent;
    }
  </style>
  <title>Admin Panel</title>
</head>
<body>
  <ul class="list-group">
    <% logs.forEach(log => { %>
      <li class="list-group-item">
        <p>Remote: <%= log.remote %></p>
        <p>Host: <%= log.host %></p>
        <p>User: <%= log.user %></p>
        <p>Method: <%= log.method %></p>
        <p>Path: <%= log.path %></p>
        <p>Status Code: <%= log.code %></p>
        <p>Size: <%= log.size %></p>
        <p>Referer: <%= log.referer %></p>
        <p>User Agent: <%= log.agent %></p>
        <p>Time: <%= log.time %></p>
      </li>
    <% }); %>
  </ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>